@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
    background-color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    color: #2D2D2D;
}

nav {
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
}

label img {
    width: 49px;
    height: 30px;
    margin-top: 25px;
    margin-left: 50px;
}

nav ul {
    width: 480px;
    height: 28px;
    float: right;
    margin-top: 26px;
    margin-right: 50px;
}

nav ul li {
    display: inline-block; 
    margin: 0 10px;
    padding: 0 5px;
}

nav ul li a {
    line-height: 28px;
    color: #2D2D2D;
    size: 17;
}

a.active,a:hover {
    color: #1576D6;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: #2D2D2D;
    float: right;
    line-height: 80px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .checkbtn {
        display: block;
    }
    
    nav {
        width: 100%;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #FFFFFF;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
}

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        width: 100%;
    }

    nav ul li a {
        font-size: 20px;
        width: 100%;
    }

    a:hover,a.active {
        background: none;
        color: #1576D6;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

/*  */

.section-services {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 180px 140px 180px 140px;
}

.section-services .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    width: 25%;
    /* height: 100%; */
    flex-direction: column;
    gap: 60px;
}

.card img {
    width: 130px;
    height: 130px;
}

.card div h3 {
    width: 100%;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    line-height: 42px;
}

.card div p {
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}


@media screen and (min-width: 0px) and (max-width: 767px) {
    .section-services {
        width: 100%;
        padding: 0;
        height: 1107px;
        padding: 0 10px;
    }

    .section-services .cards {
        display: flex;
        width: 100%;
        padding: 40px;
        flex-direction: column;
        gap: 56px;
    }

    .card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        height: 289px;
    }

    .card div {
        width: 100%;
        height: 135px;
    }

    .card div h3 {
        width: 100%;
        height: 42px;
        color: #2D2D2D;
        margin-bottom: 12px;
        font-size: 27px;
        font-weight: 600;
        line-height: 42px;
        text-align: center;
    }

    .card div p {
        width: 100%;
        height: 81px;
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
        color: #2D2D2D;

    }
}